<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OnBoardPilotSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <OnBoardPilotSystem.Properties.Settings>
            <setting name="AutoConnectArdu" serializeAs="String">
                <value>Arduino</value>
            </setting>
            <setting name="AutoConnectGPS" serializeAs="String">
                <value>GPS, Prolific</value>
            </setting>
            <setting name="ArduBaud" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="GPSBaud" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="BlackBox" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NormSpeed" serializeAs="String">
                <value>4,5</value>
            </setting>
            <setting name="maxFlightTime" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="maxDistFlight" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="minSafeAlt" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="levelTakeOff" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="absdopuskRadian" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="CorrectionAxes" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="WaitThread" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxTrimmer" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ShutDuwnAuto" serializeAs="String">
                <value>False</value>
            </setting>
        </OnBoardPilotSystem.Properties.Settings>
    </userSettings>
</configuration>
